<div class="attachments">
    <div class="contextual">
        <a title="添付ファイルの編集" class="icon-only icon-edit" href="#">添付ファイルの編集</a>
        <a title="一括ダウンロード" class="icon-only icon-download" href="#">一括ダウンロード</a>
    </div>

    <table>
        <tr>
            <td>
                <a class="icon icon-attachment" href="#">640x200.png</a>
                <span class="size">(14 KB)</span>
                <a class="icon-only icon-download" title="ダウンロード" href="#">640x200.png</a>
            </td>
            <td></td>
            <td>
                <span class="author">Redmine Admin, 2022/10/18 10:58</span>
            </td>
            <td>
                <a data-confirm="よろしいですか？" class="delete icon-only icon-del" title="削除" rel="nofollow" data-method="delete" href="#">削除</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="icon icon-attachment" href="#">200x200.png</a>
                <span class="size">(6.7 KB)</span>
                <a class="icon-only icon-download" title="ダウンロード" href="#">200x200.png</a>
            </td>
            <td></td>
            <td>
                <span class="author">Redmine Admin, 2022/10/18 11:00</span>
            </td>
            <td>
                <a data-confirm="よろしいですか？" class="delete icon-only icon-del" title="削除" rel="nofollow" data-method="delete" href="#">削除</a>
            </td>
        </tr>
    </table>

    <div class="thumbnails">
        <div>
            <a title="clipboard-202210181958-yvddb.png" href="#"><img srcset="/attachments/thumbnail/640x200_200.png 2x" style="max-width: 100px; max-height: 100px;" loading="lazy" src="/attachments/thumbnail/640x200.png"/></a>
        </div>
        <div>
            <a title="clipboard-202210182000-ts8ke.png" href="#"><img srcset="/attachments/thumbnail/200x200_200.png 2x" style="max-width: 100px; max-height: 100px;" loading="lazy" src="/attachments/thumbnail/200x200.png"/></a>
        </div>
    </div>
</div>
