<ul>
    <li><span class="badge badge-status-open">未完了</span> .badge.badge-status-open</li>
    <li><span class="badge badge-status-open">進行中</span> .badge.badge-status-open</li>
    <li><span class="badge badge-status-locked">ロック中</span> .badge.badge-status-locked</li>
    <li><span class="badge badge-status-closed">終了</span> .badge.badge-status-closed</li>
</ul>

<ul>
    <li><span class="badge badge-private">プライベート</span> .badge.badge-private</li>
    <li><span class="badge badge-count">99</span> .badge.badge-count</li>
    <li><span class="badge badge-issues-count">99</span> .badge.badge-issues-count</li>
</ul>
