<div id="header">
    <a href="#" class="mobile-toggle-button js-flyout-menu-toggle-button"></a>

    <div id="quick-search">
        <form action="#" accept-charset="UTF-8" name="form-8397e3e7" method="get"><input name="utf8" type="hidden" value="&#x2713;" autocomplete="off" />
            <input type="hidden" name="scope" autocomplete="off" />

            <label for='q'>
                <a accesskey="4" href="#">検索</a>:
            </label>
            <input type="text" name="q" id="q" size="20" class="small" accesskey="f" data-auto-complete="true" />
        </form>

        <div id="project-jump" class="drdn">
            <span class="drdn-trigger">プロジェクトへ移動...</span>
            <div class="drdn-content">
                <div class="quick-search">
                    <input type="text" name="q" id="projects-quick-search" value="" class="autocomplete" data-automcomplete-url="/projects/autocomplete.js" autocomplete="off" />
                </div>

                <div class="drdn-items projects selection"></div>

                <div class="drdn-items all-projects selection"><a href="#">全プロジェクト</a></div>
            </div>
        </div>
    </div>

    <h1>Redmine</h1>
</div>
