
<div class="wiki">
    <h2>アイコン種類</h2>
    <ul>
        <li><p class="icon icon-add">.icon</p></li>
        <li><p class="icon-only icon-edit">.icon-only</p></li>
    </ul>

    <h2>アイコン一覧</h2>
    <ul>
        <li><p class="icon icon-add">.icon-add</p></li>
        <li><p class="icon icon-edit">.icon-edit</p></li>
        <li><p class="icon icon-copy">.icon-copy</p></li>
        <li><p class="icon icon-duplicate">.icon-duplicate</p></li>
        <li><p class="icon icon-del">.icon-del</p></li>
        <li><p class="icon icon-move">.icon-move</p></li>
        <li><p class="icon icon-save">.icon-save</p></li>
        <li><p class="icon icon-download">.icon-download</p></li>
        <li><p class="icon icon-cancel">.icon-cancel</p></li>
        <li><p class="icon icon-multiple">.icon-multiple</p></li>
        <li><p class="icon icon-folder">.icon-folder</p></li>
        <li><p class="icon open icon-folder">.open.icon-folder</p></li>
        <li><p class="icon icon-package">.icon-package</p></li>
        <li><p class="icon icon-user">.icon-user</p></li>
        <li><p class="icon icon-project">.icon-project</p></li>
        <li><p class="icon icon-projects">.icon-projects</p></li>
        <li><p class="icon icon-help">.icon-help</p></li>
        <li><p class="icon icon-attachment">.icon-attachment</p></li>
        <li><p class="icon icon-history">.icon-history</p></li>
        <li><p class="icon icon-time-entry">.icon-time-entry</p></li>
        <li><p class="icon icon-time">.icon-time</p></li>
        <li><p class="icon icon-time-add">.icon-time-add</p></li>
        <li><p class="icon icon-stats">.icon-stats</p></li>
        <li><p class="icon icon-warning">.icon-warning</p></li>
        <li><p class="icon icon-error">.icon-error</p></li>
        <li><p class="icon icon-fav">.icon-fav</p></li>
        <li><p class="icon icon-fav-off">.icon-fav-off</p></li>
        <li><p class="icon icon-reload">.icon-reload</p></li>
        <li><p class="icon icon-lock">.icon-lock</p></li>
        <li><p class="icon icon-locked">.icon-locked</p></li>
        <li><p class="icon icon-unlock">.icon-unlock</p></li>
        <li><p class="icon icon-checked">.icon-checked</p></li>
        <li><p class="icon icon-report">.icon-report</p></li>
        <li><p class="icon icon-comment">.icon-comment</p></li>
        <li><p class="icon icon-comments">.icon-comments</p></li>
        <li><p class="icon icon-summary">.icon-summary</p></li>
        <li><p class="icon icon-server-authentication">.icon-server-authentication</p></li>
        <li><p class="icon icon-issue">.icon-issue</p></li>
        <li><p class="icon icon-zoom-in">.icon-zoom-in</p></li>
        <li><p class="icon icon-zoom-out">.icon-zoom-out</p></li>
        <li><p class="icon icon-magnifier">.icon-magnifier</p></li>
        <li><p class="icon icon-passwd">.icon-passwd</p></li>
        <li><p class="icon icon-arrow-right">.icon-arrow-right</p></li>
        <li><p class="icon icon-test">.icon-test</p></li>
        <li><p class="icon icon-sticky">.icon-sticky</p></li>
        <li><p class="icon icon-email">.icon-email</p></li>
        <li><p class="icon icon-email-disabled">.icon-email-disabled</p></li>
        <li><p class="icon icon-email-add">.icon-email-add</p></li>
        <li><p class="icon icon-ok">.icon-ok</p></li>
        <li><p class="icon icon-not-ok">.icon-not-ok</p></li>
        <li><p class="icon icon-link-break">.icon-link-break</p></li>
        <li><p class="icon icon-list">.icon-list</p></li>
        <li><p class="icon icon-close">.icon-close</p></li>
        <li><p class="icon icon-settings">.icon-settings</p></li>
        <li><p class="icon icon-group">.icon-group,</p></li>
        <li><p class="icon icon-groupnonmember">.icon-groupnonmember</p></li>
        <li><p class="icon icon-groupanonymous">.icon-groupanonymous</p></li>
        <li><p class="icon icon-roles">.icon-roles</p></li>
        <li><p class="icon icon-issue-edit">.icon-issue-edit</p></li>
        <li><p class="icon icon-workflows">.icon-workflows</p></li>
        <li><p class="icon icon-custom-fields">.icon-custom-fields</p></li>
        <li><p class="icon icon-plugins">.icon-plugins</p></li>
        <li><p class="icon icon-news">.icon-news</p></li>
        <li><p class="icon icon-issue-closed">.icon-issue-closed</p></li>
        <li><p class="icon icon-issue-note">.icon-issue-note</p></li>
        <li><p class="icon icon-changeset">.icon-changeset</p></li>
        <li><p class="icon icon-message">.icon-message</p></li>
        <li><p class="icon icon-reply">.icon-reply</p></li>
        <li><p class="icon icon-wiki-page">.icon-wiki-page</p></li>
        <li><p class="icon icon-document">.icon-document</p></li>
        <li><p class="icon icon-project">.icon-project</p></li>
        <li><p class="icon icon-add-bullet">.icon-add-bullet</p></li>
        <li><p class="icon icon-shared">.icon-shared</p></li>
        <li><p class="icon icon-actions">.icon-actions</p></li>
        <li><p class="icon icon-sort-handle">.icon-sort-handle</p></li>
        <li><p class="icon icon-expanded">.icon-expanded</p></li>
        <li><p class="icon icon-collapsed">.icon-collapsed</p></li>
        <li><p class="icon icon-bookmark">.icon-bookmark</p></li>
        <li><p class="icon icon-bookmark-off">.icon-bookmark-off</p></li>
        <li><p class="icon icon-bookmarked-project">.icon-bookmarked-project</p></li>
        <li><p class="icon icon-sorted-asc">.icon-sorted-asc</p></li>
        <li><p class="icon icon-sorted-desc">.icon-sorted-desc</p></li>
        <li><p class="icon icon-toggle-plus">.icon-toggle-plus</p></li>
        <li><p class="icon icon-toggle-minus">.icon-toggle-minus</p></li>
        <li><p class="icon icon-clear-query">.icon-clear-query</p></li>
        <li><p class="icon icon-import">.icon-import</p></li>
        <li><p class="icon icon-file">.icon-file</p></li>
        <li><p class="icon icon-file text-plain">.icon-file.text-plain</p></li>
        <li><p class="icon icon-file text-x-c">.icon-file.text-x-c</p></li>
        <li><p class="icon icon-file text-x-csharp">.icon-file.text-x-csharp</p></li>
        <li><p class="icon icon-file text-x-java">.icon-file.text-x-java</p></li>
        <li><p class="icon icon-file application-javascript">.icon-file.application-javascript</p></li>
        <li><p class="icon icon-file text-x-php">.icon-file.text-x-php</p></li>
        <li><p class="icon icon-file text-x-ruby">.icon-file.text-x-ruby</p></li>
        <li><p class="icon icon-file text-xml">.icon-file.text-xml</p></li>
        <li><p class="icon icon-file text-css">.icon-file.text-css</p></li>
        <li><p class="icon icon-file text-html">.icon-file.text-html</p></li>
        <li><p class="icon icon-file image-gif">.icon-file.image-gif</p></li>
        <li><p class="icon icon-file image-jpeg">.icon-file.image-jpeg</p></li>
        <li><p class="icon icon-file image-png">.icon-file.image-png</p></li>
        <li><p class="icon icon-file image-tiff">.icon-file.image-tiff</p></li>
        <li><p class="icon icon-file application-pdf">.icon-file.application-pdf</p></li>
        <li><p class="icon icon-file application-zip">.icon-file.application-zip</p></li>
        <li><p class="icon icon-file application-gzip">.icon-file.application-gzip</p></li>
        <li><p class="icon icon-copy-link">.icon-copy-link</p></li>
        <li><p class="icon sort-handle ajax-loading">.sort-handle.ajax-loading</p></li>
    </ul>
</div>
