<div class="issue tracker-3 status-1 priority-2 priority-default child created-by-me starting  tooltip hascontextmenu">
    <a class="issue tracker-3 status-1 priority-2 priority-default child created-by-me" href="#">サポート #39</a>: issue39
    <span class="tip"><a class="issue tracker-3 status-1 priority-2 priority-default child created-by-me" href="#">サポート #39</a>: issue39<br/><br/><strong>プロジェクト</strong>: <a href="#">test1</a><br/><strong>ステータス</strong>: 新規<br/><strong>開始日</strong>: 2022/10/21<br/><strong>期日</strong>: <br/><strong>担当者</strong>:  <br/><strong>優先度</strong>: 通常</span>
    <input type="checkbox" name="ids[]" value="39" style="display:none;"/>
</div>
