<div id="main-menu" class="tabs">
    <ul>
        <li><a class="projects" href="#">プロジェクト</a></li>
        <li><a class="activity selected" href="#">活動</a></li>
        <li><a class="issues" href="#">チケット</a></li>
        <li><a class="time-entries" href="#">作業時間</a></li>
        <li><a class="gantt" href="#">ガントチャート</a></li>
        <li><a class="calendar" href="#">カレンダー</a></li>
        <li><a class="news" href="#">ニュース</a></li>
    </ul>
    <div class="tabs-buttons" style="display:none;">
        <button class="tab-left" onclick="moveTabLeft(this); return false;"></button>
        <button class="tab-right" onclick="moveTabRight(this); return false;"></button>
    </div>
</div>
