<table class="progress progress-0">
    <tr>
        <td style="width: 100%;" class="todo"></td>
    </tr>
</table>

<table class="progress progress-0">
    <tr>
        <td style="width: 25%;" class="done" title="進捗率: 25%"></td>
        <td style="width: 75%;" class="todo"></td>
    </tr>
</table>

<table class="progress progress-0">
    <tr>
        <td style="width: 50%;" class="done" title="進捗率: 50%"></td>
        <td style="width: 50%;" class="todo"></td>
    </tr>
</table>

<table class="progress progress-0">
    <tr>
        <td style="width: 75%;" class="done" title="進捗率: 75%"></td>
        <td style="width: 25%;" class="todo"></td>
    </tr>
</table>

<table class="progress progress-0">
    <tr>
        <td style="width: 100%;" class="done" title="進捗率: 100%"></td>
    </tr>
</table>
