<div id="project-jump" class="drdn">
    <span class="drdn-trigger">プロジェクトへ移動...</span>
    <div class="drdn-content">
        <div class="quick-search">
            <input type="text" name="q" id="projects-quick-search" value="" class="autocomplete" data-automcomplete-url="#" autocomplete="off"/>
        </div>
        <div class="drdn-items projects selection">
            <strong>ブックマーク</strong><a title="test1" href="#"><span style="padding-left:0px;">test1</span></a><a title="test5" href="#"><span style="padding-left:0px;">test5</span></a><strong>最近使用したもの</strong><a title="test3" href="#"><span style="padding-left:0px;">test3</span></a><a title="test3-1" href="#"><span style="padding-left:0px;">test3-1</span></a><a title="test10" href="#"><span style="padding-left:0px;">test10</span></a><strong>全プロジェクト</strong><a title="test1" href="#"><span style="padding-left:0px;">test1</span></a><a title="test3" href="#"><span style="padding-left:0px;">test3</span></a>
        </div>
        <div class="drdn-items all-projects selection">
            <a class="selected" href="#">全プロジェクト</a>
        </div>
    </div>
</div>
