<div class="tabs">
    <ul>
        <li>
            <a id="tab-history" class="selected" href="#">履歴</a>
        </li>
        <li>
            <a id="tab-notes" href="#">コメント</a>
        </li>
        <li>
            <a id="tab-properties" href="#">プロパティ更新履歴</a>
        </li>
        <li>
            <a id="tab-time_entries" href="#">作業時間</a>
        </li>
    </ul>

    <div class="tabs-buttons" style="display:none;">
        <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
        <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
    </div>
</div>
