<div id="top-menu">
    <div id="account">
        <ul>
            <li><a class="my-account" href="#">個人設定</a></li>
            <li><a class="logout" rel="nofollow" data-method="post" href="#">ログアウト</a></li>
        </ul>
    </div>
    <div id="loggedas">ログイン中： <a class="user active" href="#">admin</a></div>
    <ul>
        <li><a class="home" href="#">ホーム</a></li>
        <li><a class="my-page" href="#">マイページ</a></li>
        <li><a class="projects" href="#">プロジェクト</a></li>
        <li><a class="administration" href="#">管理</a></li>
        <li><a class="help" href="#">ヘルプ</a></li>
    </ul>
</div>
