<div class="members box">
    <h3 class="icon icon-group">メンバー</h3>
    <p><span class="label">管理者:</span> <a class="user active" href="#">Redmine Admin</a></p>
    <p><span class="label">開発者:</span> <a class="user active" href="#">user1 user1</a>,
        <a class="user active" href="#">user2 user2</a>,
        <a class="user active" href="#">user3 user3</a>,
        <a class="user active" href="#">user4 user4</a>,
        <a class="user active" href="#">user5 user5</a>,
        <a class="group icon icon-group" href="#">group1</a>,
        <a class="group icon icon-group" href="#">group2</a></p>
    <p><span class="label">報告者:</span> <a class="group icon icon-group" href="#">group3</a>,
        <a class="group icon icon-group" href="#">group4</a></p>
</div>
