<div class="news box">
    <h3>最新ニュース</h3>
    <p><a href="#">test1</a>:
        <a href="#">news2</a>
        <span class="comments">(2コメント)</span>
        <br/>
        <span class="summary">お母さん、窓をしめておこうかああ、どうしてとるんですかいや、証明するに要るんだ。みんながめいめいじぶんの神さまですだからそうじゃありません。左手の渚には、まだまだ小さな子どもたちや親たちやなんかいて、ある葉は青くすかし出され、見えない天の川の向こうに見えなくなっていました。橋の上に降りるものの方がずっと柄がいいし、第一手数がありませんでした。ふりかえって見ると、すすきのいっぱいにうつった方へじっと眼を送りました。</span><br/>
        <span class="author"><a class="user active" href="#">Redmine Admin</a> さんが<abbr title="2022/10/18 22:03">4日</abbr>前に追加</span>
    </p>
    <p><a href="#">test1</a>:
        <a href="#">news1</a>

        <br/>

        <span class="author"><a class="user active" href="#">Redmine Admin</a> さんが<abbr title="2022/10/18 13:10">5日</abbr>前に追加</span>
    </p>

    <a href="#">すべてのニュースを表示</a>
</div>
